extends ./layout

block content
  a(href='/bicicletas') Atras
  br
  br
  br

  h1 Actualizar bicicleta
  br
  br
  form(action=`/bicicletas/${data.codigo}/update` method='post')
    .form-group
      label(for="id") ID:
      input#id(type="text" name="codigo" class="form-control" value=data.codigo)
    .form-group
      label(for="color") Color:
      input#id(type="text" name="color" class="form-control" value=data.color)
    .form-group
      label(for="modelo") Modelo:
      input#id(type="text" name="modelo" class="form-control" value=data.modelo)
    .form-group
      label(for="lat") Latitud:
      input#id(type="text" name="lat" class="form-control" value=data.ubicacion[0])
    .form-group
      label(for="lng") Longitud:
      input#id(type="text" name="lng" class="form-control" value=data.ubicacion[1])
    br
    br
    input.btn(type='submit' value='Actualizar' class='btn-success')
